*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden{
    display: none;
}

body {
    font-family: Arial, sans-serif;
}

.loading {
    width: 150px;
    height: 150px;
    background-color: #007bff;
    position: fixed;
    top: 50%;
    left: 50%;
}

.error-message {
    width: 250px;
    height: auto;
    padding: 20px;
    position: fixed;
    top: 40%;
    left: 40%;
    border: 2px solid #ff0000;
    border-radius: 5px;
    color:#ff0000;
}